<h1 class="text-primary">User Profile</h1>
<hr />

<table>
    <tr>
        <th>Name:</th>
        <td><%=current_user.username%></td>
    </tr>
    <tr>
        <th>Email:</th>
        <td><%=current_user.email%></td>
    </tr>
    <tr>
        <th>Logins:</th>
        <td><%=current_user.sign_in_count%></td>
    </tr>
</table>

<h2>Episodes watched</h2>

<% @seasons.each do |season| %>
	<% episodes_watched_in_season = 0 %>
	<h2>Season <%= season.number %> (<%= season.episodes.length %>)</h2>

	<% season.episodes.each do |episode| %>
		<% if episode.watched_by.include?(current_user.id) %>
			<% episodes_watched_in_season += 1 %>
		<% end %>
	<% end %>
		<%= "episodes watched #{episodes_watched_in_season}" %>

	<% if season.episodes.length != episodes_watched_in_season %>
		<% season.episodes.each do |se| %>
			<% if se.watched_by.include?(current_user.id) %>
				<h4><%= se.title %></h4>
			<% end %>
		<% end %>
	<% elsif season.episodes.length == episodes_watched_in_season %>
		<em>All Episodes Watched</em>
	<% end %>
	<% episodes_watched_in_season = 0 %>
<% end %>
