<div id="episodes">
	<h1 class="page-header text-success" id="top">All Episodes</h1>
	<% @episodes.each do |episode| %>
		
		<div class="episodecard-index">
    	<% if current_user.episodes.include?(episode) %>
				<span class="badge pull-right">
	    		<em>Watched</em>
				</span>
  		<% else %>
  		 	<span class="pull-right"><%= link_to "MARK AS WATCHED", watched_episode_path(episode.id), :method => :put, class: "text-success", class: "green-badge" %></span>	
    	<% end %>				

	    <h3 class="text-success" id="<%= episode.id %>">
	    	<%= episode.title %> <small class="-textmuted"><%= "(Season #{episode.season.number})" %></small>	
	    </h3>		

	    <p><%= episode.plot %></p>
	    <hr>
		</div>
	<% end %>
	
	<div class="text-center">
		<%= link_to "Back To Top", "#top", class: "btn btn-success" %>
	</div>
</div>