<!DOCTYPE html>
<html>
  <head>
    <title>Watched</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway" %>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

  	<nav class="navbar navbar-fixed-top">
  	      <div class="container">
  	        <div class="navbar-header">
  	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
  	            <span class="sr-only">Toggle navigation</span>
  	            <span class="icon-bar"></span>
  	            <span class="icon-bar"></span>
  	            <span class="icon-bar"></span>
  	          </button>
  	          <h4 class="text-white">Watched</h4>
  	        </div>
  	        <div id="navbar" class="collapse navbar-collapse">
  	          <ul class="nav navbar-nav pull-right">
  	            <li><%= link_to 'Episodes', root_path %></li>
  	            <li><%= link_to 'User Profile', users_profile_path %></li>
  	            <% if user_signed_in? %>
  	            	<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
  	            <% else %>
  	              <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li> 
  	              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
  	            <% end %>
  	          </ul>
  	        </div><!--/.nav-collapse -->
  	      </div>
  	    </nav>

	  <div class="container">
  		<% if notice %>
  		  <p class="alert alert-success"><%= notice %></p>
  		<% end %>
  		<% if alert %>
  		  <p class="alert alert-danger"><%= alert %></p>
  		<% end %>
  	
  		<%= yield %>
		
			<div class="container">
	  		<footer class="footer navbar-fixed-bottom">
	  			<div class="container">
	  		      <p class="text-white pull-right">&copy; 2016 Watched</p>
	  			</div>
	      </footer>
	    </div>
		</div>
  </body>
</html>
