<!DOCTYPE html>
<html>
  <head>
    <title>Watched</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
		<%= render "nav" %>
	  <div class="container">
  		<% if notice %>
				<div class="alert alert-success alert-dismissible" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				  	<span aria-hidden="true">&times;</span>
				  </button>
				  <%= notice %>				
				</div>
  		<% end %>

  		<% if alert %>
	  		<div class="alert alert-danger alert-dismissible" role="alert">
	  		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  		  	<span aria-hidden="true">&times;</span>
	  		  </button>
	  		  <%= alert %>				
	  		</div>
  		<% end %>
  	
  		<%= yield %>
		
		</div>
		
		<footer class="footer navbar-fixed-bottom">
			<div class="container">
		      <p class="text-white pull-right">&copy; 2016 Watched</p>
			</div>
    </footer>
  </body>
</html>
